{% extends "::base.html.twig" %}

{% block body %}

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ path('homepage') }}">{{ store ? store.name : "Undefined store" }}</a>
      <ul class="nav">
        <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <ul class="nav secondary-nav">
        <li class="dropdown">
            <a href="{{ path('vespolina_cart_show') }}">My Cart</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="container">

    <hr class="noscreen">

    <div id="content" class="box">

        {% block navigation %}
            <ul class="breadcrumb">
              <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
              <li class="active">You are here</li>
            </ul>
        {% endblock %}

    {% block content %}
        No content.
    {% endblock %}

    </div>

    <hr class="noscreen" />

    <!-- Footer -->
    <div id="footer" class="box">
        <p class="f-right">Copyright &copy; 2012 <a href="http://www.vespolina.org">Vespolina Project</a>, All Rights Reserved</p>
    </div> <!-- /footer -->
</div>
{% endblock %}

