{% extends "::base.html.twig" %}

{% block body %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ path('homepage') }}"><img src="/bundles/vespolinastore/images/vespolina-logo-v.png" alt="Vespolina"/> {{ store ? store.name : "Undefined store" }}</a>
      <ul class="nav">
        <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
          {% for storeZone in store.storeZones %}
          <li><a href="{{ path('vespolina_store_store_zone', { 'slug': storeZone.displayName }) }}">{{storeZone.displayName}}</a></li>
          {% endfor %}

          <li><a href="#about">About</a></li>
      </ul>
      <ul class="nav secondary-nav">
        <li class="dropdown">
            <a href="{{ path('vespolina_cart_show') }}">My Cart</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="offset9 span3">
                {% block customer_info %}
                {% render "VespolinaStoreBundle:Store:quickCustomerInspection" %}
                {% endblock %}

                {% block cart_quick_inspection %}
                {% render "VespolinaStoreBundle:Cart:quickInspection" %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            {% block product_taxonomy %}

            {% endblock %}
        </div>
        <div class="span10">
            <div id="content" class="box">

                {% block navigation %}
                <ul class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
                    <li class="active">You are here</li>
                </ul>
                {% endblock %}

                {% block content %}
                No content.
                {% endblock %}
            </div>
       </div>
    </div>
   <!-- Footer -->
    <div id="footer" class="box">
        <p class="f-right">Copyright &copy; 2O11 - 2012 <a href="http://www.vespolina.org">Vespolina Project</a>, All Rights Reserved</p>
    </div> <!-- /footer -->
</div>
{% endblock %}

