<div class="row">
    <div class="span12">
        <div class="row">
            {% for product in productsPagination %}
            <div class="span3 v-product-tile">
                <div class="thumbnail">
                    <a href="{{ path('vespolina_store_product_detail', { 'slug': product.slug }) }}">
                        {% if product.mediaItems|length > 0 %}
                            {% set mediaItem = product.mediaItems[0] %}
                            <img class="thumbs" src="{{ asset(mediaItem.relativePath) }}"/>
                        {%  else %}
                            <img class="thumbs" src="{{ asset('bundles/vespolinastore/images/no-product-image.jpg') }}"/>
                        {%  endif %}
                    </a>
                </div>
                <div class="caption">
                    <span class="v-product-name">
                        <a href="{{ path('vespolina_store_product_detail', { 'slug': product.slug }) }}">
                            {{ product.name }}
                        </a>
                    </span>
                    <div>
                        <a class="btn" href="{{ path('vespolina_cart_add_cartable', {'cartableId': product.id}) }}">Add to Cart</a>
                        <span class="v-product-price">
                            {% include 'VespolinaStoreBundle:Product:_product_prices.html.twig' with {'product': product } %}
                        </span>
                    </div>
                </div>
            </div>
            {% else %}
            No products loaded.
            {% endfor %}
        </div>
        <div class="row">
            <div class="navigation">
                {{ productsPagination.render()|raw }}
            </div>
        </div>
    </div>
</div>
