<div class="v-product-list-small">
    <table>

    {% for product in productsPagination %}
        <tr>
            <td>
                <div class="v-product-list-item">
                    <span class="v-product-thumbnail">
                        <a href="{{ path('vespolina_store_product_detail', { 'slug': product.slug }) }}">
                            {% include 'VespolinaStoreBundle:Product:_product_primary_media.html.twig' with {'product': product } %}
                        </a>
                    </span>
                    <span class="v-product-detail">
                        <div class="v-product-title">
                            <a href="{{ path('vespolina_store_product_detail', { 'slug': product.slug }) }}">
                                {{ product.name }}
                            </a>
                        </div>
                        <div class="v-product-short-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tortor mi, ornare a imperdiet consequat, venenatis id dolor. Pellentesque et tempus mauris. Nunc lacinia, orci sit amet ullamcorper posuere, orci neque tincidunt tellus, nec tristique lectus sapien at ante.
                        </div>
                        <div class="v-product-order">
                            <span class="v-product-price">
                                {% include 'VespolinaStoreBundle:Product:_product_prices.html.twig' with {'product': product } %}
                                <a class="btn" href="{{ path('vespolina_cart_add_cartable', {'cartableId': product.id}) }}">Add to Cart</a>
                            </span>
                        </div>
                    </span>

                </div>
            </td>
        </tr>

    {% else %}
    No products loaded.
    {% endfor %}

    </table>
    <div class="row">
        <div class="navigation">
            {{ productsPagination.render()|raw }}
        </div>
    </div>
</div>
