{% extends "VespolinaStoreBundle::layout.html.twig" %}

{% block navigation %}
    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
      <li class="active">{{product.name}}</li>
    </ul>
{% endblock %}

{% block content %}
<div class="v-product-detail row" >
    <div class="span10">
        <div class="row">
            <div class="span8">
                <span class="v-product-primary-media-item">
                {% include 'VespolinaStoreBundle:Product:_product_primary_media.html.twig' with {'product': product, 'type': 'medium' } %}
                </span>
                <span class ="v-product-description">
                    {{product.description}}
                </span>
            </div>
            <div class="v-product-order span2">
                <div class="v-product-price well">
                    {% set product_pricing =  product.getPricing %}
                    {% set discount_rate = ( product_pricing['unitPriceTotal'] - product_pricing['unitPriceMSRPTotal'] ) / product_pricing['unitPriceTotal'] %}

                    <div class="v-product-unit-price-total">
                        {{ product_pricing['unitPriceTotal'] | price_format(store.defaultCurrency) }}
                    </div>

                    <span class="v-product-unit-price-msrp-total">
                    {{ product_pricing['unitPriceMSRPTotal'] | price_format() }}
                    </span>
                    <div class="v-product-msrp-discount-rate">
                        Save {{ product_pricing['MSRPDiscountRate'] | number_format(0) }}%
                    </div>
                    <div style="clear: both; margin-top:2em;">
                        <a class="btn btn-primary" href="{{ path('vespolina_cart_add_cartable', {'cartableId': product.id}) }}">Add to Cart</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
