{% extends "VespolinaStoreBundle::layout.html.twig" %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
    <li>Checkout<span class="divider">/</span></li>
</ul>
{% endblock %}

{% block content %}

{% render "VespolinaStoreBundle:Process:processNavigator" with {'currentProcessStep': currentProcessStep } %}


<div class="alert alert-info">
    You are about to purchase following items using <b>{{ context.fulfillment_method.fulfillment_method }}</b> and pay with
    <b>{{ context.payment_method.payment_method }}</b>
</div>

<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <td>Qty</td><td>Product</td><td>Price</td><td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    {% for item in cart.items %}
    <tr>
        <td>{{ item.quantity }}</td><td>{{ item.name }}</td><td>{{ item.pricing.netValue }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">Grand Total</td><td>{{ cart.totalPrice }}</td>
    </tr>
    </tfoot>
</table>

<form action="{{ path('vespolina_store_checkout_process_step', { 'processId': currentProcessStep.process.id, 'processStepName': currentProcessStep.name })}}" method="post" {{ form_enctype(checkoutReviewForm) }}>
    {{ form_widget(checkoutReviewForm) }}
    <input type="submit" class="btn" value="confirm" />
</form>

{% endblock %}

