<div class="row">
    <div class="span12 offset1">
        <h4>List of Products</h4>
        <div class="row">
        {% for product in products %}

            {% set add_to_cart_url = url('vespolina_store_add_to_cart', { 'productId': product.id }) %}
            {% set product_url = url('vespolina_store_product_detail', { 'slug': product.slug }) %}
            {% set product_pricing =  product.getPricing %}

            <div class="span3 v-product-tile">
                <div class="thumbnail">
                    <a href="{{ product_url }}">
                    <img class="thumbs" src="/images/no-product-image.jpg"/>
                    </a>
                </div>
                <div class="caption">
                    <span class="v-product-name"><a href="{{ product_url }}">
                   {{ product.name }}</a></span>
                   <div>
                       <a class="btn" href="{{ add_to_cart_url}}">Buy</a>
                        <span class="v-product-price">
                            {{product_pricing['unitPrice']}} ;
                        </span>
                   </div>
                </div>
            </div>
        {% else %}
            No products loaded.
        {% endfor %}
        </div>
    </div>
</div>
